In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv('/home/george/Documents/Cursos/data_analysis_with_pandas_and_python/pandas/bigmac.csv', parse_dates=['Date'])
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [3]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [4]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

# Create a multiindex with `.set_index()`  method

In [5]:
bigmac.set_index(['Date', 'Country'])

                           Price in US Dollars
Date       Country
2016-01-01 Argentina                      2.39
           Australia                      3.74
           Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98
           Denmark                        4.32
           Egypt                          2.16
           Euro area                      4.00
           Hong Kong                      2.48
           Hungary                        3.08
           India                          1.90
           Indonesia                      2.19
           Israel                         4.29
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
...                                        ...
2010-01-01 Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

[652 rows x 1 columns]

# The `.get_level_values()` method

In [9]:
bigmac = pd.read_csv('/home/george/Documents/Cursos/data_analysis_with_pandas_and_python/pandas/bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [16]:
#bigmac.index.get_level_values(1)
bigmac.index.get_level_values('Country')

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

# The `.set_names()` method on MultiIndex

In [18]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [20]:
bigmac.index.set_names(['Day', 'Location'], inplace=True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

# The `.sort_index()` method on a MultiIndex `DataFrame`

In [21]:
bigmac = pd.read_csv('/home/george/Documents/Cursos/data_analysis_with_pandas_and_python/pandas/bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [25]:
bigmac.sort_index(ascending=[True, False], inplace=True)
bigmac.head()

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83

# Extract rows from a MultiIndex `DataFrame`

In [26]:
bigmac = pd.read_csv('/home/george/Documents/Cursos/data_analysis_with_pandas_and_python/pandas/bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [29]:
bigmac.loc[('2010-01-01', 'Brazil'), 'Price in US Dollars']

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [32]:
bigmac.loc[('2015-07-01', 'Chile'), 'Price in US Dollars']

Date        Country
2015-07-01  Chile      3.27
Name: Price in US Dollars, dtype: float64

In [35]:
bigmac.ix[('2016-01-01', 'China'), 0]

2.6800000000000002

# The `.transpose()` method