In [1]:
# !pip install mysql-connector-python
# mysql -u root -p

import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="123password",
    database="testdb"
)
mycursor = mydb.cursor()

### 1. Criar o banco

In [3]:
mycursor.execute("CREATE DATABASE testdb")

In [4]:
mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

### 2. Criar uma tabela

In [6]:
mycursor.execute("CREATE TABLE students (name VARCHAR(255), age INTEGER(10))")
mycursor.execute("SHOW TABLES")
for tb in mycursor:
    print(tb)

('students',)

### 3. Popular a tabela

In [18]:
sql_formula = "INSERT INTO students (name, age) VALUES (%s, %s)"
student1 = ("Rachel", 22)

mycursor.execute(sql_formula, student1)
# Save the changes
mydb.commit()

In [8]:
students = [("Bob", 12),
            ("Amanda", 32),
            ("Jacob", 28),
            ("Michelle", 17),
            ("Mike", 17)
]
mycursor.executemany(sql_formula, students)
# Save the changes
mydb.commit()

### 4. Selecionando dados

In [9]:
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

('Rachel', 22)
('Bob', 12)
('Amanda', 32)
('Jacob', 28)
('Michelle', 17)

In [10]:
mycursor.execute("SELECT age FROM students")
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(22,)
(12,)
(32,)
(28,)
(17,)

In [11]:
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchone()

for row in myresult:
    print(row)

Rachel
22

In [35]:
mycursor.execute("SELECT * FROM students ORDER BY age DESC")
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

('Amanda', 32)
('Jacob', 28)
('Rachel', 22)
('Michelle', 17)
('Mike', 17)
('Bob', 12)

### 5. Usando o comando `WHERE`

In [19]:
query = "SELECT * FROM students WHERE age=17"
mycursor.execute(query)
myresult = mycursor.fetchall()

for result in myresult:
    print(result)

('Michelle', 17)
('Mike', 17)

In [30]:
query = "SELECT * FROM students WHERE name LIKE %s"
mycursor.execute(query, ("Mike", ))

myresult = mycursor.fetchall()

for result in myresult:
    print(result)

('Mike', 17)

### 6. Atualizando valores e como limita-los

In [36]:
query = "UPDATE students SET age = 13 WHERE name = 'Bob'"
mycursor.execute(query)
mydb.commit()

In [37]:
mycursor.execute("SELECT * FROM students LIMIT 3")
myresult = mycursor.fetchall()

for result in myresult:
    print(result)

('Rachel', 22)
('Bob', 13)
('Amanda', 32)

In [38]:
mycursor.execute("SELECT * FROM students LIMIT 3 OFFSET 2")
myresult = mycursor.fetchall()

for result in myresult:
    print(result)

('Amanda', 32)
('Jacob', 28)
('Michelle', 17)

### 7. Deletar um valor e remover uma tabela

In [39]:
query = "DELETE FROM students WHERE name = 'Mike'"
mycursor.execute(query)
mydb.commit()

In [3]:
query = "DROP TABLE IF EXISTS students"
mycursor.execute(query)
mydb.commit()

## Referencia
- [Python and MySQL: Database Manipulation with Python](https://www.youtube.com/playlist?list=PLB5jA40tNf3tRMbTpBA0N7lfDZNLZAa9G)